<!doctype html>
<html lang="en">

<head>
	<title>Lista Cliente</title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />

</head>

<body>
	<section class="container m-5">
		<h3 style="text-align:center"> Lista de Cliente Activos</h3>
		<table class="table table-bordered">

			<thead class="bg-primary text-warning">

				<tr>
					<th scope="col">id Cliente</th>
					<th scope="col">Nombre</th>
					<th scope="col">Apellido</th>
					<th scope="col">Dni</th>
					<th scope="col">Telefono</th>
					<th scope="col">Estado Libro</th>
					<th sec:authorize="hasAnyRole('ROLE_ADMIN')" scope="col">Editar</th>
					<th sec:authorize="hasAnyRole('ROLE_ADMIN')" scope="col">Eliminar</th>

				</tr>
			</thead>
			<tbody th:each="cliente : ${listacliente}" class="tbody-secondary">
				<tr class="bg-secondary text-light">
					<th scope="row" th:text="${cliente.id}"></th>
					<td th:text="${cliente.nombre}"></td>
					<td th:text="${cliente.apellido}"></td>
					<td th:text="${cliente.dni}"></td>
					<td th:text="${cliente.telefono}"></td>



					<td>
						<span th:if="${cliente.alta}"><i class="fas fa-check" style="color:sandybrown"></i> </span>
						<span th:unless="${cliente.alta}"><i class="fas fa-times" style="color:lawngreen;"></i></span>
					</td>





					<td sec:authorize="hasAnyRole('ROLE_ADMIN')">

						<a sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/libreria/cliente/editar/__${cliente.id}__}"><i class="far fa-edit"
								style="color: rgb(64, 0, 0);"></i>
						</a>
					</td>
					<td sec:authorize="hasAnyRole('ROLE_ADMIN')">
						<a sec:authorize="hasAnyRole('ROLE_ADMIN')" th:href="@{/libreria/cliente/eliminar/__${cliente.id}__}"><i class="fas fa-trash"
								style="color: rgb(0, 64, 0);"></i></a>
					</td>
					
				</tr>

			</tbody>
		</table>
	</section>
	<section class="py-5 text-center container">
		<div class="row py-lg-5">
			<div class="col-lg-6 col-md-8 mx-auto">
				<a th:href="@{/libreria/}" class="btn btn-primary my-2">Volver</a>

			</div>
		</div>
	</section>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>